In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import re
import emoji
import nltk
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('Tweets.csv')
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [3]:
df.shape

(14640, 15)

In [4]:
df.drop('tweet_id',axis=1,inplace=True)

In [5]:
df.head()

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [6]:
for col in df.columns :
    print(col)
    print(df[col].value_counts())
    print('=================================================================================')

airline_sentiment
negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64
=================================================================================
airline_sentiment_confidence
1.0000    10445
0.6667       71
0.6632       35
0.6559       30
0.6596       30
0.6701       29
0.6598       28
0.6600       26
0.6842       26
0.6771       24
0.6739       22
0.6737       22
0.6630       22
0.6421       22
0.6809       22
0.6774       22
0.6735       21
0.6522       20
0.6566       19
0.6633       19
0.6703       19
0.6563       18
0.6768       17
0.6742       17
0.6634       17
0.6593       17
0.6889       16
0.6591       16
0.6832       16
0.6804       15
          ...
0.3537        1
0.6958        1
0.3708        1
0.3533        1
0.6373        1
0.3666        1
0.9286        1
0.6155        1
0.3606        1
0.3661        1
0.3486        1
0.3626        1
0.9220        1
0.3612        1
0.7145        1
0.6102        1
0.6284        1
0.6159        1
0.7134        1
0.6486        1
0.6586        1
0.3493        1
0.6355        1
0.7171        1
0.7119        1
0.3913        1
0.7273        1
0.6353        1
0.6260        1
0.3544        1
Name: airline_sentiment_confidence, Length: 1023, dtype: int64
=================================================================================
negativereason
Customer Service Issue         2910
Late Flight                    1665
Can't Tell                     1190
Cancelled Flight                847
Lost Luggage                    724
Bad Flight                      580
Flight Booking Problems         529
Flight Attendant Complaints     481
longlines                       178
Damaged Luggage                  74
Name: negativereason, dtype: int64
=================================================================================
negativereason_confidence
1.0000    3436
0.0000    1344
0.6667      62
0.6632      33
0.6596      29
0.6733      25
0.6809      25
0.3441      24
0.6559      24
0.6701      23
0.6526      22
0.6842      21
0.6702      21
0.6600      21
0.6737      20
0.6598      20
0.6771      19
0.6838      18
0.6495      18
0.6806      18
0.3474      18
0.6593      18
0.6633      18
0.6606      17
0.6522      17
0.6630      17
0.3684      17
0.3579      17
0.3469      17
0.6563      17
          ...
0.3870       1
0.3378       1
0.3834       1
0.3228       1
0.3700       1
0.6950       1
0.7083       1
0.6171       1
0.3538       1
0.5193       1
0.3906       1
0.6227       1
0.3374       1
0.3272       1
0.6815       1
0.3645       1
0.9241       1
0.3796       1
0.3864       1
0.7237       1
0.6312       1
0.3930       1
0.3379       1
0.6346       1
0.3349       1
0.3386       1
0.3577       1
0.3249       1
0.3290       1
0.3255       1
Name: negativereason_confidence, Length: 1410, dtype: int64
=================================================================================
airline
United            3822
US Airways        2913
American          2759
Southwest         2420
Delta             2222
Virgin America     504
Name: airline, dtype: int64
=================================================================================
airline_sentiment_gold
negative    32
positive     5
neutral      3
Name: airline_sentiment_gold, dtype: int64
=================================================================================
name
JetBlueNews        63
kbosspotter        32
_mhertz            29
otisday            28
throthra           27
weezerandburnie    23
rossj987           23
MeeestarCoke       22
GREATNESSEOA       22
scoobydoo9749      21
jasemccarty        20
flemmingerin       19
ElmiraBudMan       19
georgetietjen      19
Aero0729           18
ThatJasonEaton     18
thomashoward88     18
chagaga2013        18
worldwideweg       17
SMHillman          17
heyheyman          16
arthurhasher       16
patrick_maness     16
luvthispayne       15
Allisonjones704    15
ColtSTaylor        14
riricesq           14
geekstiel          14
farfalla818        14
Heavenlychc9       14
                   ..
artburkart          1
LimeLiberator       1
JacquieMae08        1
skenniston          1
Lulabella83         1
jcfly123            1
1_7_8_0             1
followkashyap       1
nerisa1127          1
CoryDauphin         1
Drzah_              1
praywinn            1
sammy_ike_blaze     1
sdpurv              1
drinkmud            1
jmacie3             1
meganpberger        1
ashliewhite         1
RosieRHues          1
bgroberto3246       1
bradtronic          1
GottaGoFlying       1
L_Hindle            1
MarcPerez           1
cabowine            1
sgad1983            1
SkyDiverChad        1
AmaniHardrict       1
dtndtndtndtn        1
Yorkshire_D         1
Name: name, Length: 7701, dtype: int64
=================================================================================
negativereason_gold
Customer Service Issue                      12
Late Flight                                  4
Cancelled Flight                             3
Can't Tell                                   3
Cancelled Flight\nCustomer Service Issue     2
Flight Attendant Complaints                  1
Late Flight\nCancelled Flight                1
Late Flight\nLost Luggage                    1
Bad Flight                                   1
Customer Service Issue\nLost Luggage         1
Late Flight\nFlight Attendant Complaints     1
Lost Luggage\nDamaged Luggage                1
Customer Service Issue\nCan't Tell           1
Name: negativereason_gold, dtype: int64
=================================================================================
retweet_count
0     13873
1       640
2        66
3        22
4        17
5         5
7         3
6         3
22        2
8         1
32        1
9         1
31        1
18        1
15        1
28        1
44        1
11        1
Name: retweet_count, dtype: int64
=================================================================================
text
@united thanks                                                                                                                                            6
@SouthwestAir sent                                                                                                                                        5
@AmericanAir thanks                                                                                                                                       5
@JetBlue thanks!                                                                                                                                          5
@AmericanAir thank you!                                                                                                                                   4
@united thank you!                                                                                                                                        4
@SouthwestAir thank you!                                                                                                                                  3
@USAirways YOU ARE THE BEST!!! FOLLOW ME PLEASE;)ðŸ™ðŸ™ðŸ™âœŒï¸âœŒï¸âœŒï¸ðŸ™ðŸ™ðŸ™                                                                                             3
@united thank you                                                                                                                                         3
@united Thanks!                                                                                                                                           3
@AmericanAir thanks!                                                                                                                                      3
@SouthwestAir Thank you!                                                                                                                                  3
@JetBlue thank you!                                                                                                                                       3
@USAirways thanks                                                                                                                                         3
@USAirways thank you                                                                                                                                      3
@AmericanAir I might look into that. My wife travels much more than I do. Could we both use the membership?                                               2
@AmericanAir yes yes yes,so glad to be headed home!                                                                                                       2
@AmericanAir I thought all those planes were retired? #MD80                                                                                               2
@AmericanAir I'm frustrated by all of the @USAirways attitude toward #ExecPlat members. #thenewamerican                                                   2
@AmericanAir thanks for getting back to me. But I will find other airlines in the future.                                                                 2
@AmericanAir can u help rebook passenger via Twitter/DM.  Been on hold for 1.5 hours. Thanks!                                                             2
@AmericanAir still waiting for a flight... I should get my money back                                                                                     2
@AmericanAir how about some rampers at gate b40 dfw?   Waiting to be marshaled in                                                                         2
@AmericanAir I tried to book a rwrd and was told I couldnt. Bought tix on USAir (now AA-no choice) didn't bother to + AAdv# with this svc...              2
@AmericanAir I want to speak to a human being! !!  This is not an obscene request!                                                                        2
@AmericanAir sorry so Late Flight, responded to your DM.                                                                                                  2
@AmericanAir no response to DM or email yet.  customer service?                                                                                           2
â€œ@AmericanAir: @Andrew_Wasila We're sorry you were uncomfortable, Andrew. What can we do for you?â€ SMA                                                    2
@AmericanAir 767 seconds from touchdown at Madrid airport in April 2013 #AvGeek http://t.co/1yWXRfn0Gr                                                    2
@AmericanAir\n Your response could have made all the difference. It could have made the situation better. NO TRUST...GET LOST like my bag.                2
                                                                                                                                                         ..
@AmericanAir the ticket is a poor gesture of goodwill (for missed trip) to a top status flyer - I may not next time (AA91 LHR-ORD 2/16)                   1
@USAirways The automated message isn't helpful and it's impossible to speak with a human right now. Desperately need our luggage :(                       1
@united Please send me the link/email to formally compliment Irene in SLC on some of the best customer service ever. #PaxEx                               1
@SouthwestAir belt issues. Been a rough day for them. Worst part is traveling with 9 month old and having to wait outside in 85 degree                    1
@JetBlue flight was Cancelled Flighted. Do I need to file a claim for the $50 credit I'm entitled to per yr bill of rights, or will it just be issued?    1
@JetBlue A320 pulling into the gate as the sunrises here at @BostonLogan this morning #jetbluesofly #jetblue #airbus http://t.co/JGdu5us8Dz               1
@JetBlue Airways Stock Rating Lowered by Vetr Inc. (JBLU) - Dakota Financial News http://t.co/QW2eBEEMVg                                                  1
@USAirways he is 8 months old and is suffering from a rare form of cancer. Your customer service agents had no compassion and I am disgusted              1
@AmericanAir first the pilot, then the catering...                                                                                                        1
@united !!!!! YAAYY!!! YAY PROM!!!! http://t.co/DXicoyioxF                                                                                                1
â€œ@JetBlue: Our fleet's on fleek. http://t.co/MB0hVfqB1tâ€-see what ihop started ðŸ˜‘                                                                          1
@JetBlue @NHLBruins repping the Bruins in Cleveland at Rock n Roll HOF &amp; The Christmas Story house #JetBlueBruins http://t.co/JKnWuGJ778              1
@jetblue it's time for a direct flight from #JFK to #PITT.... @ Official JetBlue Terminal 5 - New Yorkâ€¦ http://t.co/QygXGmd3Sn                            1
@united I did they did not.  I did submit a complaint on line and never heard back from that - I don't have that ID- you should find it                   1
@usairways - It's all automated and no one cares to understand the problem I'm having                                                                     1
@united didn't get her name. She was not in our group. She was sitting behind us. Think it was window seat #40? We only overheard...                      1
@USAirways Cool. Now @SweetingR has been told you can't re-route his bags after he was told to leave them last night. He needs them to race.              1
@united Is a snowboard boot bag included in the standard checked baggage next to the snowboard bag?                                                       1
@SouthwestAir sadly didn't get much help ... As a travel agent this is so disappointing to me.                                                            1
@AmericanAir @Cowboycerrone  ratchet airway!. ......                                                                                                      1
â€œ@JetBlue: Our fleet's on fleek. http://t.co/LSYbgLF59jâ€ let's keep it professional                                                                       1
@JetBlue I did get the email. Thought i wasn't supposed to reply to thoseðŸ˜‚                                                                                1
@SouthwestAir did anyone come into work today? u should have all the pilots and flight attendants answer phones if no one is flying                       1
@united a report was filed with the airport police on 11th and 12th February-I have the police case number if required                                    1
@united A measly $50 e-certificate is not how you appreciate loyal customers after they wait 3hrs on the tarmac during UA1116. #unacceptable              1
@AmericanAir  Yes I do bit you don't follow me so I can't DM you                                                                                          1
@united thanks for a terrible experience at EWR. Customers should be treated as a priority, not as an inconvenience #tryagain                             1
@united Also, group 5 is total BS.                                                                                                                        1
@AmericanAir even with calls you haven't been able to help us anyway. #nevergettinghome                                                                   1
@USAirways flt 5302 CLT to DAY supposed to depart 5:51; the 6:20...still no crew. #schedule/contact the pilot!                                            1
Name: text, Length: 14427, dtype: int64
=================================================================================
tweet_coord
[0.0, 0.0]                      164
[40.64656067, -73.78334045]       6
[32.91792297, -97.00367737]       3
[40.64646912, -73.79133606]       3
[37.62006843, -122.38822083]      2
[34.0213466, -118.45229268]       2
[39.83426941, -104.69960636]      2
[35.22643463, -80.93879965]       2
[40.69017276, -73.91646118]       2
[32.82813261, -97.25115941]       2
[18.22245647, -63.00369733]       2
[37.78618135, -122.45742542]      2
[39.1766101, -76.6700606]         2
[40.69002464, -73.91638072]       2
[40.68996177, -73.91640136]       2
[40.68994668, -73.91637642]       2
[33.75348859, -116.36209633]      2
[37.99311597, -84.52114659]       2
[33.75539049, -116.36196163]      2
[41.16012493, -81.39760735]       1
[41.86591215, -87.6231126]        1
[25.79939784, -80.27038889]       1
[37.78194753, -122.43412918]      1
[28.35144756, -81.54358392]       1
[27.97628758, -82.53727303]       1
[42.5696777, -71.42056878]        1
[34.06143413, -118.39787418]      1
[41.77838296, -87.7409109]        1
[39.74529398, -104.99225976]      1
[32.92215312, -96.97563515]       1
                               ...
[37.6208766, -122.3867929]        1
[37.93882337, -107.82065521]      1
[29.65283375, -95.275749]         1
[38.5369071, -106.9349375]        1
[37.93663309, -107.81820588]      1
[32.85744983, -97.03548311]       1
[40.6867848, -74.18351089]        1
[29.98788997, -95.34470061]       1
[40.68545235, -74.18374208]       1
[51.322819, 5.3576218]            1
[37.93644673, -107.81832713]      1
[41.49090693, -81.71627307]       1
[33.43588637, -111.99965664]      1
[33.75538818, -116.36197002]      1
[40.64638899, -73.78399051]       1
[37.79374402, -122.39327564]      1
[40.80718573, -73.95477259]       1
[18.22245747, -63.00369895]       1
[35.22287836, -80.94056653]       1
[29.99135326, -95.52122091]       1
[38.9470418, -77.4511456]         1
[28.02034806, -82.52234293]       1
[32.9070889, -97.03785947]        1
[35.21905941, -80.9426995]        1
[39.85871934, -104.67371484]      1
[38.95804042, -77.26190063]       1
[30.26196639, -97.75945775]       1
[31.27777976, 121.59340615]       1
[43.3230125, -73.64314219]        1
[29.99653598, -95.53874781]       1
Name: tweet_coord, Length: 832, dtype: int64
=================================================================================
tweet_created
2015-02-24 09:54:34 -0800    5
2015-02-24 11:43:05 -0800    4
2015-02-24 11:32:49 -0800    3
2015-02-24 09:14:01 -0800    3
2015-02-24 10:01:50 -0800    3
2015-02-24 11:38:11 -0800    3
2015-02-23 10:58:58 -0800    3
2015-02-23 06:57:24 -0800    3
2015-02-24 11:38:47 -0800    3
2015-02-23 15:25:46 -0800    3
2015-02-23 14:18:58 -0800    3
2015-02-24 09:47:16 -0800    2
2015-02-21 16:31:13 -0800    2
2015-02-24 09:03:57 -0800    2
2015-02-24 11:04:01 -0800    2
2015-02-23 11:24:31 -0800    2
2015-02-24 10:22:49 -0800    2
2015-02-23 11:27:25 -0800    2
2015-02-22 14:22:00 -0800    2
2015-02-24 09:33:08 -0800    2
2015-02-24 09:21:10 -0800    2
2015-02-20 16:10:03 -0800    2
2015-02-22 17:14:56 -0800    2
2015-02-24 09:19:51 -0800    2
2015-02-23 11:01:39 -0800    2
2015-02-24 09:10:50 -0800    2
2015-02-18 11:05:45 -0800    2
2015-02-23 06:43:21 -0800    2
2015-02-24 11:32:18 -0800    2
2015-02-24 11:43:32 -0800    2
                            ..
2015-02-24 11:36:12 -0800    1
2015-02-18 07:31:37 -0800    1
2015-02-19 20:53:16 -0800    1
2015-02-23 17:53:55 -0800    1
2015-02-22 13:08:28 -0800    1
2015-02-18 07:18:37 -0800    1
2015-02-22 16:30:04 -0800    1
2015-02-19 09:22:42 -0800    1
2015-02-23 13:21:28 -0800    1
2015-02-17 08:55:48 -0800    1
2015-02-18 17:36:19 -0800    1
2015-02-22 16:18:33 -0800    1
2015-02-19 16:07:44 -0800    1
2015-02-22 14:02:57 -0800    1
2015-02-18 14:09:15 -0800    1
2015-02-21 18:03:22 -0800    1
2015-02-22 19:41:09 -0800    1
2015-02-22 09:10:19 -0800    1
2015-02-21 13:33:54 -0800    1
2015-02-22 20:46:42 -0800    1
2015-02-23 13:50:04 -0800    1
2015-02-20 09:04:37 -0800    1
2015-02-19 15:26:57 -0800    1
2015-02-24 10:39:27 -0800    1
2015-02-23 20:48:30 -0800    1
2015-02-20 06:53:26 -0800    1
2015-02-22 14:12:48 -0800    1
2015-02-23 16:26:10 -0800    1
2015-02-22 09:01:11 -0800    1
2015-02-21 12:51:17 -0800    1

Name: tweet_created, Length: 14247, dtype: int64
=================================================================================
tweet_location
Boston, MA                        157
New York, NY                      156
Washington, DC                    150
New York                          127
USA                               126
Chicago                           104
New York City                      96
Los Angeles, CA                    96
NYC                                95
San Francisco, CA                  91
San Francisco                      86
Chicago, IL                        81
Brooklyn, NY                       66
Austin, TX                         64
Los Angeles                        64
Washington, D.C.                   63
Boston                             62
Dallas, TX                         54
Washington DC                      53
Nashville, TN                      45
NY                                 42
Texas                              42
Philadelphia, PA                   38
San Diego                          38
Denver, CO                         37
Houston, TX                        35
Seattle                            34
Global                             34
Logan International Airport        32
New York, New York                 31
                                 ...
North Tonawanda                     1
Crestwood                           1
The Road to Damascus                1
Washington, D.C                     1
Scott Depot, WV                     1
Vienna, Austria                     1
east brunswick, nj                  1
SF mostly, NYC & London often.      1
 Tally                              1
Wiltshire, UK                       1
Sunnyside, NY                       1
DC|LA                               1
Victoria, BC, Canada                1
Salem, NH                           1
Hingham, MA                         1
Sacramento,California               1
 NJ USA                             1
Austin, Texas                       1
Where there is love..               1
Earth                               1
Happy Valley                        1
Douglas, MA                         1
St. Petersburg                      1
The Hill!!!                         1
Oakland by way of Chicago           1
Alvechurch, Worcestershire, UK      1
Tiffin, Ohio                        1
Napa, CA                            1
suburbs of Pittsburgh....           1
Cambridge, Ma                       1
Name: tweet_location, Length: 3081, dtype: int64
=================================================================================
user_timezone
Eastern Time (US & Canada)     3744
Central Time (US & Canada)     1931
Pacific Time (US & Canada)     1208
Quito                           738
Atlantic Time (Canada)          497
Mountain Time (US & Canada)     369
Arizona                         229
London                          195
Alaska                          108
Sydney                          107
Hawaii                          104
Amsterdam                        74
America/Chicago                  37
America/New_York                 26
Indiana (East)                   26
Paris                            25
Abu Dhabi                        23
Brasilia                         23
Dublin                           17
Tehran                           17
Santiago                         17
Greenland                        17
Athens                           16
America/Los_Angeles              15
Casablanca                       15
New Delhi                        15
Mid-Atlantic                     15
Buenos Aires                     14
Central America                  13
Beijing                          11
                               ...
Singapore                         2
Nairobi                           2
Guam                              2
Islamabad                         2
Copenhagen                        2
Hong Kong                         2
Perth                             2
Lima                              2
Tokyo                             1
America/Detroit                   1
Monterrey                         1
Wellington                        1
Solomon Is.                       1
America/Atikokan                  1
Bern                              1
Istanbul                          1
Newfoundland                      1
Prague                            1
Irkutsk                           1
Midway Island                     1
EST                               1
Pretoria                          1
West Central Africa               1
Warsaw                            1
Kuala Lumpur                      1
Canberra                          1
Sarajevo                          1
Saskatchewan                      1
Lisbon                            1
Bucharest                         1
Name: user_timezone, Length: 85, dtype: int64
=================================================================================

*notes about the data :

-- > out of 14,000 approximalty all of them expressed their sentiment , most are negative

-- > 10,000 where confident about their sentiment 

-- > for each negative sentiment there is a reason and a confidence in that reason 3000 , out of 9000 where 100% confident of their reasoning

-- > airlines share of sentiments is equally divided , but virgin america have the thinest share 

-- > 40 gold_cunstomers -- with their reasons for negativity 

-- > same customers tweeted their sentiment several times 

-- > retweet count of a tweet gives an indication of it's impact ( whether it is main stream opinion , made in time of crisis or holidays)

--- > there are duplicated text , cleaning removing the tags 

-- > the tweet_cord t0 be [0,0] can be indication of error , check tweet location for each , tweet locations need to be cleaned 
overall 

-- > tweets are created within febraury of 2015 ( is that month differ in airflights overall)

In [7]:

for col in df.columns :
    print(col)
    print(df[col].isna().sum())
    print('=============================================================================')

airline_sentiment
0
=============================================================================
airline_sentiment_confidence
0
=============================================================================
negativereason
5462
=============================================================================
negativereason_confidence
4118
=============================================================================
airline
0
=============================================================================
airline_sentiment_gold
14600
=============================================================================
name
0
=============================================================================
negativereason_gold
14608
=============================================================================
retweet_count
0
=============================================================================
text
0
=============================================================================
tweet_coord
13621
=============================================================================
tweet_created
0
=============================================================================
tweet_location
4733
=============================================================================
user_timezone
4820
=============================================================================

In [8]:
df=df[df['airline_sentiment_gold'].isna()]

In [9]:
df.drop(['airline_sentiment_gold','negativereason_gold'],axis=1,inplace=True)

In [13]:
#df[df['negativereason'].isna()]['negativereason']='Not stated'
df.head()

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,neutral,1.0000,NaN,NaN,Virgin America,cairdin,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,positive,0.3486,NaN,0.0000,Virgin America,jnardino,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,neutral,0.6837,NaN,NaN,Virgin America,yvonnalynn,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,negative,1.0000,Bad Flight,0.7033,Virgin America,jnardino,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,negative,1.0000,Can't Tell,1.0000,Virgin America,jnardino,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [14]:
df['negativereason'].fillna('Not stated',inplace=True)

In [15]:
df['negativereason'].isna().sum()

0

In [16]:
df['negativereason_confidence'].fillna(0.0,inplace=True)

In [17]:
df_loc=df[~(df['tweet_coord'].isna() & df['tweet_location'].isna() & df['user_timezone'].isna())]

In [18]:
df.drop(['tweet_coord','tweet_location','user_timezone'],axis=1,inplace=True)

In [19]:
df.head()

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_created
0,neutral,1.0000,Not stated,0.0000,Virgin America,cairdin,0,@VirginAmerica What @dhepburn said.,2015-02-24 11:35:52 -0800
1,positive,0.3486,Not stated,0.0000,Virgin America,jnardino,0,@VirginAmerica plus you've added commercials t...,2015-02-24 11:15:59 -0800
2,neutral,0.6837,Not stated,0.0000,Virgin America,yvonnalynn,0,@VirginAmerica I didn't today... Must mean I n...,2015-02-24 11:15:48 -0800
3,negative,1.0000,Bad Flight,0.7033,Virgin America,jnardino,0,@VirginAmerica it's really aggressive to blast...,2015-02-24 11:15:36 -0800
4,negative,1.0000,Can't Tell,1.0000,Virgin America,jnardino,0,@VirginAmerica and it's a really big bad thing...,2015-02-24 11:14:45 -0800

In [20]:
df.describe()

       airline_sentiment_confidence  negativereason_confidence  retweet_count
count                  14600.000000               14600.000000   14600.000000
mean                       0.900012                   0.458315       0.082671
std                        0.162977                   0.401096       0.746672
min                        0.335000                   0.000000       0.000000
25%                        0.692300                   0.000000       0.000000
50%                        1.000000                   0.624400       0.000000
75%                        1.000000                   0.703025       0.000000
max                        1.000000                   1.000000      44.000000

In [21]:
df['text'].iloc[18]

'I â¤ï¸ flying @VirginAmerica. â˜ºï¸ðŸ‘'

In [22]:


def clean_text(row):
        reg=re.compile(r'@[\w]*')
        
        row=RE_EMOJI.sub(r'',row)
        
def extract_text(strr):
    reg=re.compile(r'(@[\w]*)|(http[s]?:\/\/(www\.)?(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+)')
    emoji_list=[c for c in strr if c in emoji.UNICODE_EMOJI]
    filtred  = [strr for strr in strr.split() if not any(i in strr for i in emoji_list)]
    clean_text=' '.join(filtred)
    clean_text=reg.sub(r'', clean_text)
    return pd.Series([clean_text,emoji_list],index=['text', 'emojis'])

In [23]:
stry=' I love this graphic. http://t.co/UT5GrRwAaA @abcd.'

extract_text(stry)

text      I love this graphic.  .
emojis                         []
dtype: object

In [24]:

df[['text','emojis']]=df['text'].apply(extract_text)

In [25]:
df['emojis']=df['emojis'].apply(lambda x :  x if x else 0)

In [26]:
df['text'].iloc[7]

' Really missed a prime opportunity for Men Without Hats parody, there. '

In [27]:
stry='I flying are bats'

def get_wordnet_pos(word):
    

    tag =nltk.pos_tag([word])[0][1][0]
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    get=tag_dict.get(tag, wordnet.NOUN)
    return get



def lemma(text):
    lemmatizer = WordNetLemmatizer()
    stop_words = (stopwords.words('english'))
    stop_words.append('I')
  
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(text)

    tokens_list=[ token for token in tokens if token not in stop_words]
    return ([lemmatizer.lemmatize(w, get_wordnet_pos(w))  for w in tokens_list])

In [28]:


df['text'].iloc[7]

' Really missed a prime opportunity for Men Without Hats parody, there. '

In [29]:
df['text']=df['text'].apply(lemma)

In [92]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
# tokenize and build vocab
vectorizer.fit(df['text_str'])
vector = vectorizer.transform(df['text_str'])
print(vector.shape)

(14600, 11672)

In [41]:
list_w=df['text'].iloc[7]

def word2str(words):
    return ' '.join(word for word in words)
word2str(list_w)

df['text_str']=df['text'].apply(word2str)

In [51]:
#y = lambda symbol: 'X' if symbol==True else 'O' if symbol==False else ' '

df['sentiment_encode']=df['airline_sentiment'].apply(lambda x : 2 if x =='positive' else 1 if x =='neutral' else 0)

In [216]:
x_train, x_test, y_train, y_test = train_test_split(df['text_str'], df['sentiment_encode'], test_size=0.2)

In [217]:
x_train.shape , y_train.shape , x_test.shape,y_test.shape

((11680,), (11680,), (2920,), (2920,))

In [121]:

from sklearn.feature_extraction.text import HashingVectorizer
# create the transform
vectorizer = HashingVectorizer(n_features=20000)
# encode document
train_features = vectorizer.transform(x_train)
test_features= vectorizer.transform(x_test)
# summarize encoded vector
print(train_features.shape)
print(test_features.toarray())

print(test_features.shape)
print(train_features.toarray())

(11680, 20000)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(2920, 20000)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [66]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import accuracy_score

In [93]:
Classifiers = [
    LogisticRegression(C=0.000000001,solver='liblinear',max_iter=200),
    KNeighborsClassifier(3),
    SVC(kernel="rbf", C=0.025, probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(n_estimators=200),
    AdaBoostClassifier(),
    GaussianNB()]

In [95]:
dense_features=train_features.toarray()
dense_test= test_features.toarray()
Accuracy=[]
Model=[]
for classifier in Classifiers:
    try:
        fit = classifier.fit(train_features,y_train)
        pred = fit.predict(test_features)
        
    except Exception:
        fit = classifier.fit(dense_features,y_train)
        pred = fit.predict(dense_test)
    accuracy = accuracy_score(pred,y_test)
    Accuracy.append(accuracy)
    Model.append(classifier.__class__.__name__)
    print('Accuracy of '+classifier.__class__.__name__+'is '+str(accuracy))

E:\Anaconda3\envs\data\lib\site-packages\sklearn\linear_model\logistic.py:459: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Accuracy of LogisticRegressionis 0.6376712328767123
Accuracy of KNeighborsClassifieris 0.6965753424657535

E:\Anaconda3\envs\data\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Accuracy of SVCis 0.6376712328767123
Accuracy of DecisionTreeClassifieris 0.711986301369863
Accuracy of RandomForestClassifieris 0.760958904109589
Accuracy of AdaBoostClassifieris 0.7027397260273973
Accuracy of GaussianNBis 0.4469178082191781

In [126]:
#from gensim.models.word2vec import Word2Vec
import gensim
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
#model =gensim.models.KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)
#model.most_similar(positive=['woman', 'king'], negative=['man'], topn=5)

In [112]:
TaggedDocument = gensim.models.doc2vec.TaggedDocument

In [113]:
def labelizeReviews(reviews, label_type):
    labelized = []
    for i,v in enumerate(reviews):
        label = '%s_%s'%(label_type,i)
        labelized.append(TaggedDocument(v, [label]))
    return labelized

In [122]:
x_train = labelizeReviews(x_train, 'TRAIN')
x_test = labelizeReviews(x_test, 'TEST')

In [131]:
data=df['text_str']

In [132]:
data = labelizeReviews(data, 'Data')

In [134]:
data[0:10]

[TaggedDocument(words='What say', tags=['Data_0']),
 TaggedDocument(words='plus add commercial experience tacky', tags=['Data_1']),
 TaggedDocument(words='today Must mean need take another trip', tags=['Data_2']),
 TaggedDocument(words='really aggressive blast obnoxious entertainment guest face amp little recourse', tags=['Data_3']),
 TaggedDocument(words='really big bad thing', tags=['Data_4']),
 TaggedDocument(words='seriously would pay 30 flight seat play really bad thing fly VA', tags=['Data_5']),
 TaggedDocument(words='yes nearly every time fly VX ear worm go away', tags=['Data_6']),
 TaggedDocument(words='Really miss prime opportunity Men Without Hats parody', tags=['Data_7']),
 TaggedDocument(words='Well NOW DO D', tags=['Data_8']),
 TaggedDocument(words='amaze arrive hour early You good', tags=['Data_9'])]

In [135]:
import random

size = 400
#instantiate our DM and DBOW models

model_dbow =Doc2Vec(min_count=1, window=10, vector_size=size, sample=1e-3, negative=5, dm=0, workers=3)

#build vocab over all reviews

model_dbow.build_vocab(data)

In [149]:
df['text'].shape[0]

14600

In [ ]:
all_train_reviews

In [ ]:
#We pass through the data set multiple times, shuffling the training reviews each time to improve accuracy.

all_train_reviews =np.asarray(x_train, dtype=object)

for epoch in range(3):
    
    perm = np.random.permutation(np.arange(11680))
    model_dbow.train(all_train_reviews[perm],total_examples=11680,epochs=1)
    print('model_dbow.train', model_dbow.train)

In [ ]:

#Get training set vectors from our models
def getVecs(model, corpus, size):
    vecs = [np.array(model[z.labels[0]]).reshape((1, size)) for z in corpus]
    return np.concatenate(vecs)

train_vecs_dbow = getVecs(model_dbow, x_train, size)

#train over test set

x_test = np.array(x_test)
for epoch in range(10):
    perm = np.random.permutation(x_test.shape[0])
    model_dbow.train(x_test[perm])
#Construct vectors for test reviews

test_vecs_dbow = getVecs(model_dbow, x_test, size)